<!-- your html code here -->
<div class="container bg-white">
    <div class="row-md-12 d-flex flex-row mt-5">
        <div class="col-md-6 justify-content-center mt-4">
            <h3 class="fw-bold text-black">El primer encabezado <span class="text-secondary">te echará un vistazo</span></h3>
            <p>Heisenberg es el álter ego de Walter White, y es todo un ícono 
                tanto dentro del mundo criminal sureño de los Estados Unidos, 
                cómo en las oficinas de la DEA, puesto que es un capo casi 
                irreconocible, y ha sido el único capaz de cocinar/proveer 
                la famosa metanfetamina azúl.</p>
        </div>
        <div class="col-md-6 justify-content-center">
            <img src="/website/assets/img/1.jpg" class="rounded-circle w-75 h-75" alt="imagen_heisenberg" />
        </div>
    </div>
</div>