<div class="portfolio container bg-white p-5">
    <h3>Portfolio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
           
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
           
        </div>
        

    </div>
</div>