<div class="portfolio">
    <h3>Portfolio</h3>
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
           
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://placehold.jp/700x400.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary"> Project Name</h4>
                    <p class="card-text">This is a quick description text of my project.</p>
                </div>
            </div>
           
        </div>
        

    </div>
</div>