<!-- your html code here -->
<div class="container bg-white py-5">
    <div class="row-md-12 d-flex flex-row ps-5">
        <div class="col-md-6">
            <img src="/website/assets/img/2.jpg" class="rounded-circle w-75" alt="imagen_teclado" />
        </div>
        <div class="col-md-6 justify-content-center mt-4 pe-5 pb-5">
            <h3 class="fw-bold text-black">El segundo encabezado <span class="text-secondary">Está bastante guay.</span></h3>
            <p>Heisenberg es el álter ego de Walter White, y es todo un ícono 
                tanto dentro del mundo criminal sureño de los Estados Unidos, 
                cómo en las oficinas de la DEA, puesto que es un capo casi 
                irreconocible, y ha sido el único capaz de cocinar/proveer 
                la famosa metanfetamina azul.</p>
        </div>
    </div>
</div>